#wrapper {
	background-color: darkgrey;
	/*width: 970px;*/
}

#houses {
	text-align: center;
}

img {
	height: 250px;
	margin: 10px
}

#content {
	width: 100%;
	margin: 20px 200px;
	padding: 100px;
	display: inline-block;
}

#houseInfo {
	text-align: left;
	width: 400px;
	padding: 30px;
	/*border: solid black 2px;*/
}
